html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    margin: 0.5vh;
    padding: 0;
}

#headContent, #visualizer{
    border-width: 0.7vh;
}

#wrapContent{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}

#headContent{
    width: 40vw;
    height: 15vh;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: white;
}
h1{
    margin: 0vh;
}

input{
    margin: 0vh;
}


button{
    margin: 0vh 0.5vw;
    width: 5vw;
}

#inputWrapper{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#visualizer{
    width: 80vw;
    height: 72.5vh;
    border-style: solid;
    border-color: black;
    margin-top: 5vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#columnWrapper{
    width: 98.5%;
    height: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.column{
    background-color: black;
}

#specificElem {
    background-color: green;
}
